.project-cards {
    display: grid;
    gap: 2vh 2vw;
}

.card {
    background-color: var(--card-background);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 2vh 2vw;
}

.card__languages {
    display: block;
}