.project-cards {
    display: grid;
    gap: 2vh 2vw;
}

.card {
    background-color: var(--card-background);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 2vh 2vw;
    transition: box-shadow 250ms ease-in-out;
}

.card__languages {
    display: block;
    font-weight: 300;
}

.card__title {
    font-weight: 500;
}

.card__description {
    color: var(--card-foreground-subtle);
    font-size: 0.9rem;
}

.card__link {
    text-decoration: none;
    color: var(--clr-accent);
    font-weight: 500;
    font-size: 0.9rem;
}

.card:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.card:hover .card__link{
    text-decoration: underline;
}