:root {
    --clr-zinc-50: #fafafa;
    --clr-zinc-100: #f4f4f5;
    --clr-zinc-200: #e4e4e7;
    --clr-zinc-300: #d4d4d8;
    --clr-zinc-400: #a1a1aa;
    --clr-zinc-500: #71717a;
    --clr-zinc-600: #52525b;
    --clr-zinc-700: #3f3f46;
    --clr-zinc-800: #27272a;
    --clr-zinc-900: #18181b;
    --clr-teal-50: #f0fdfa;
    --clr-teal-100: #ccfbf1;
    --clr-teal-200: #99f6e4;
    --clr-teal-300: #5eead4;
    --clr-teal-400: #2dd4bf;
    --clr-teal-500: #14b8a6;
    --clr-teal-600: #0d9488;
    --clr-teal-700: #0f766e;
    --clr-teal-800: #115e59;
    --clr-teal-900: #134e4a;
}

@media (prefers-color-scheme: light) {
    :root {
        --clr-background: var(--clr-zinc-100);
        --clr-foreground: var(--clr-zinc-900);
        --clr-accent: var(--clr-teal-600);

        --hdr-background: rgba(0, 0, 0, 0.025);
        --hdr-nav-background: var(--clr-zinc-200);

        --card-background: var(--clr-zinc-50);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-background: var(--clr-zinc-900);
        --clr-foreground: var(--clr-zinc-100);
        --clr-accent: var(--clr-teal-300);

        --hdr-background: rgba(255, 255, 255, 0.1);
        --hdr-nav-background: var(--clr-zinc-800);
        
        --card-background: var(--clr-zinc-800);
    }
}

body {
    background-color: var(--clr-background);
    color: var(--clr-foreground);
}