:root {
    --clr-transparent: transparent;
    --clr-current: currentColor;
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-slate-50: #f8fafc;
    --clr-slate-100: #f1f5f9;
    --clr-slate-200: #e2e8f0;
    --clr-slate-300: #cbd5e1;
    --clr-slate-400: #94a3b8;
    --clr-slate-500: #64748b;
    --clr-slate-600: #475569;
    --clr-slate-700: #334155;
    --clr-slate-800: #1e293b;
    --clr-slate-900: #0f172a;
    --clr-teal-50: #f0fdfa;
    --clr-teal-100: #ccfbf1;
    --clr-teal-200: #99f6e4;
    --clr-teal-300: #5eead4;
    --clr-teal-400: #2dd4bf;
    --clr-teal-500: #14b8a6;
    --clr-teal-600: #0d9488;
    --clr-teal-700: #0f766e;
    --clr-teal-800: #115e59;
    --clr-teal-900: #134e4a;
}

@media (prefers-color-scheme: light) {

    :root {
        --clr-background: var(--clr-slate-100);
        --clr-foreground: var(--clr-slate-900);
        --clr-object-background: var(--clr-slate-200);
        --clr-object-background-hover: var(--clr-slate-300);
        --clr-object-foreground: var(--clr-slate-900);
        --clr-accent: var(--clr-teal-600);
    }

}

@media (prefers-color-scheme: dark)
{
    :root 
    {
        --clr-background: var(--clr-slate-900);
        --clr-foreground: var(--clr-slate-100);
        --clr-object-background: var(--clr-slate-800);
        --clr-object-background-hover: var(--clr-slate-700);
        --clr-object-foreground: var(--clr-slate-100);
        --clr-accent: var(--clr-teal-400);
    }
}

body 
{
    background-color: var(--clr-background);
    color: var(--clr-foreground);

    transition: background-color 250ms ease-in-out;
    transition: color 250ms ease-in-out;
}

footer
{
    background-color: var(--clr-object-background);
}

.accent-text 
{
    color: var(--clr-accent);
}