.cards {
    display: grid;
    gap: 1vw 1vh;
}

.card {
    border: 2px solid var(--card-background);
    background-color: var(--card-background);
    padding: 2vh 2vw;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 0.25rem;
    text-decoration: none;
    color: var(--clr-foreground);
}

.card__image {
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    border: 2px solid var(--card-background-hover);
    background-color: var(--card-background-hover);
}

.card__no-hover:hover {
    background-color: var(--card-background);
    border: 2px solid var(--card-background);
}

.dev-lang-card__title, .project-card__title {
    font-weight: 500;
}