.site-header {
    background-color: var(--hdr-background);
    color: var(--hdr-foreground);
    padding: 1vh 5vw;
    display: flex;
}

.site-header__logo {
    font-size: 1.125rem;
    font-weight: 500;
    
}

.site-header__page-nav {
    font-size: 1.125rem;
    margin-left: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}