.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--hdr-background);
    color: var(--hdr-foreground);
    padding: 1vh 5vw;
    display: flex;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    backdrop-filter: blur(30px) saturate(125%);
}

.site-header__logo {
    font-size: 1.025rem;
    font-weight: 500;
    margin: auto;
}

.site-header__page-nav {
    position: absolute;
    font-size: 1.025rem;
    margin-left: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    display: none;
}



@media screen and (min-width: 800px) {

    .site-header__logo {
        margin: 0;
    }

    .site-header__page-nav {
        all: unset;
        position: relative;
        display: unset;
        margin-left: 2rem;
    }

    .site-header__nav-link {
        text-decoration: none;
        color: var(--hdr-foreground);
        transition: color 250ms ease-in-out;
        margin-right: 3vw;
    }

    .site-header__nav-link:hover {
        color: var(--clr-accent);
    }

    .site-header__active-page {
        border-bottom: 2px solid var(--clr-accent);
    }

    .site-header__nav-button {
        display: none;
    }

}