.navbar 
{
    position: fixed;
    z-index: 999;
    display: flex;

    background-color: var(--clr-object-background);
    color: var(--clr-object-foreground);

    width: 100%;
    min-height: 3.125rem;

    font-weight: 500;
    font-size: 1.275rem;

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 
        0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.navbar .navbar__logo 
{
    margin: auto;
}

.navbar .navbar__page 
{
    margin: auto 0;
    display: none;
}

@media screen and (min-width: 800px) 
{
    .navbar 
    {
        display: grid;
        grid-template-columns: 10vw max-content auto 10vw;
    }

    .navbar .navbar__logo 
    {
        grid-column: 2 / 3;
    }

    .navbar .navbar__page 
    {
        margin-left: 2rem;

        display: unset;
    }

}