.hero 
{
    display: flex;
    min-height: 100vh;
    align-items: center;
}

.hero .hero__message 
{
    text-align: center;
    margin: auto;
}

.hero .hero__greeting
{
    font-size: 4rem;
    letter-spacing: 2px;
}

.hero .hero__subgreeting 
{
    font-size: 1.250rem;
}