.intro {
    display: flex;
    height: 85vh;

}

.intro__container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.intro__greeting, .intro__who {
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.25rem;
}