.lnk 
{
    color: var(--clr-object-foreground);
    text-decoration: none;
    transition: color 250ms ease-in-out;
}

.lnk:hover
{
    color: var(--clr-accent);
}

.lnk-back::before
{
    content: '< ';
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.lnk-back:hover::before
{
    opacity: 1;
}